/*
Phone	320px
Tablet	768px
Desktop	1024px
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*                PADRAO                            */

body {
    margin: 0;
    background-color: #f5f6fa;
    display: grid;
    gap: 0px;
    padding-block-end: 10vw;
    grid-template-columns: 1fr;
}

main {
    display: grid;
    gap: 5px 3px;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}


/*///////////TITULO////////////*/

header>h2 {
    margin: 0;
    font-size: 1.2rem;
}

.title {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*///////////TITULO////////////*/


/*                                                  */

@media only screen and (max-width: 320px) {
    main {
        grid-template-columns: 1fr;
        margin-block-end: 1.5vh;
    }
    /*////////////////////////////////////////////*/
    #load {
        grid-column: 1 / span 1;
    }
    /*////////////////////////////////////////////*/
    .head-title {
        background-color: rgba(243, 213, 70, 1);
        position: sticky;
        height: 13.4vw;
        padding-block-start: 1.5vw;
        padding-block-end: 1.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        grid-column: 1 / span 1;
        z-index: 2;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar+main {
        padding-block-start: 8vw;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar {
        z-index: 1;
        position: fixed;
        width: 100%;
        top: 13vw;
        display: block;
        grid-column: 1 / span 1;
        overflow: auto;
        background-color: rgba(243, 213, 70, 1);
    }
    ul#navegador {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-block-start: 1vw;
        padding-block-end: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    img {
        height: 40vw;
    }
}

@media only screen and (min-width: 320px) {
    main {
        grid-template-columns: 1fr 1fr;
        margin-block-end: 1.5vh;
    }
    /*////////////////////////////////////////////*/
    #load {
        grid-column: 1 / span 2;
    }
    /*////////////////////////////////////////////*/
    .head-title {
        background-color: rgba(243, 213, 70, 1);
        position: sticky;
        height: 13.4vw;
        padding-block-start: 1.5vw;
        padding-block-end: 1.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        grid-column: 1 / span 1;
        z-index: 2;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar+main {
        padding-block-start: 8vw;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar {
        z-index: 1;
        position: fixed;
        width: 100%;
        top: 13vw;
        display: block;
        grid-column: 1 / span 1;
        overflow: auto;
        background-color: rgba(243, 213, 70, 1);
    }
    ul#navegador {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-block-start: 1vw;
        padding-block-end: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    img {
        height: 20vw;
    }
}

@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        margin-block-end: 1vw;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    header>h2 {
        margin-inline-start: 1vw;
        margin-inline-end: 1vw;
    }
    .head-title {
        background-color: rgba(243, 213, 70, 1);
        position: sticky;
        height: 7vw;
        padding-block-start: 1.5vw;
        padding-block-end: 1.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        grid-column: 1 / span 1;
        z-index: 2;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar+main {
        padding-block-start: 5vw;
    }
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    #bar {
        z-index: 1;
        position: fixed;
        width: 100%;
        top: 6vw;
        display: block;
        grid-column: 1 / span 1;
        overflow: auto;
        background-color: rgba(243, 213, 70, 1);
    }
    ul#navegador {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-block-start: 1vw;
        padding-block-end: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    img {
        height: 15vw;
    }
    /*                          */
    #load {
        grid-column: 1 / span 3;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /*///////////////////////////////////////////////////////*/
    ul#navegador {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-block-start: 1vw;
        padding-block-end: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    img {
        height: 10vw;
    }
    #load {
        grid-column: 1 / span 4;
    }
}


/*     HEADER        */

button {
    outline: none;
    border: none;
    background: none;
    border-radius: 45%;
}

.navicon {
    color: white;
}

.icon-heart path,
.icon-web path {
    fill: black;
}


/*     NAV        */

ul#navegador>li {
    float: left;
}

li>button {
    font-size: 0.755em;
    color: white;
}

li>button:hover {
    background-color: #f0ca0f;
}

button:link,
button:visited,
button:active {
    color: white;
    text-decoration-line: none;
}

.act {
    background-color: #f0ca0f;
    padding: 1px 1px;
    border-radius: 25%;
}

@keyframes cards {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*  ############# LOAD #####################  */

#load {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffb300;
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*  ############# LOAD #####################  */


/* #################################### CARD ################################################### */

.card {
    border: solid 0.5px white;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: cards 5s forwards;
}

.body-card {
    margin: 0px;
    padding-inline-start: 5%;
    padding-block-start: 2.5%;
    padding-inline-end: 5%;
    margin-block-end: 2.5%;
    font-size: x-small;
    font-weight: bold;
    text-align: start;
}

.card span {
    font-size: 0.67em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gray;
    margin-block-start: 2%;
    margin-block-end: 2.5%;
}

.title-card {
    padding-inline-start: 5%;
    margin: 0;
    flex-grow: 10;
}

header>span {
    flex-grow: 2;
}


/* #################################### CARD ################################################### */


/*##############################################################################################*/


/* ----- SVG Icons - svgicons.sparkk.fr ----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
}


/*#############################################################################################*/